.clearfix::before,
.clearfix::after{
    display: table;
    clear: both;
    content: '';
}
.w{
    width: 1200px;
    margin: auto;
}
body{
    background-color: #f3f5f7;
}
a{
    text-decoration: none;
    color: #050505;
}
li{
    list-style-type: none;
}