*{
    margin: 0;
    padding: 0;
}
.w{
    width: 1200px;
    margin: auto;
}
.header{
    height: 42px;
    /* 注意此地方会层叠w里面的margin */
    margin: 30px auto;
}
.logo{
    float: left;
    width: 198px;
    height: 42px;
}
.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: block;
    height: 42px;
    /* 用padding把文字的宽度撑开 */
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}