*{
    margin: 0;
    padding: 0;
}

/* 头部区域 */
.header{
    height: 42px;
    /* 注意此地方会层叠w里面的margin */
    margin: 30px auto;
}
.logo{
    float: left;
    width: 198px;
    height: 42px;
}
.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li{
    float: left;
    margin: 0 15px;
}
.nav ul li a{
    /* a是行内元素，所以转为块元素后宽高才起效 */
    display: block;
    height: 42px;
    /* 用padding把文字的宽度撑开 */
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}
.nav ul li a:hover{
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
.search{
    float: left;
    width: 412px;
    height: 42px;
    background-color: skyblue;
    margin-left: 60px;
}
.search input{
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #bfbfbf;
    font-size: 14px;
    outline: none;
    /* 也可以用缩进text-index: 2em; 来将字体往左边移动 */
    padding-left: 15px;
}
.search button{
    float: left;
    width: 50px;
    height: 42px;
    background: url(../images/btn.png);
    /* 去掉按钮button默认边框 */
    border: 0;
}
.user{
    float: right;
    line-height: 42px;
    margin-right: 52px;
    font-size: 16px;
    color: #666;
    /* 图片与文字垂直居中对齐使用vertical-align: middle;  */
    vertical-align: middle;
}
/* banner区域 */
.banner{
    height: 421px;
    background-color: #1c036c;
}
.banner .w{
    height: 421px;
    background: url(../images/banner2.png) no-repeat top center;
}
/* 左侧导航 */
.subnav{
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, .3);
}
.subnav ul li{
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.subnav ul li a{
    font-size: 14px;
    color: #fff;
}
.subnav ul li a span{
    float: right;
    /* line-height: 45px; */
}
.subnav ul li a:hover{
    color: #00a4ff;
}
.course{
    float: right;
    width: 230px;
    height: 300px;
    /* 浮动的盒子不会有外边距合并的问题，标准流盒子会发生外边距合并 */
    margin-top: 50px;
    background-color: #fff;
}
/* 右侧课程表 */
.course h2{
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}
.course .bd{
    padding: 0 20px;
}
.course .bd  ul li{
    padding: 13px 0;
    border-bottom: 1px solid #ccc;
}
.course .bd  ul li h4{
    font-size: 16px;
    color: #4e4e4e;
}
.course .bd  ul li p{
    font-size: 12px;
    color: #a5a5a5;
}
.course .bd .more{
    /* a是行内元素，没有大小，需要转换成块级元素 */
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 7px;
}
/* 精品推荐模块 */
.goods{
    margin-top: 10px;
    height: 60px;
    background-color: #fff;
    /* box-shadow: (X轴偏移量)(Y轴偏移量)(阴影模糊半径)(阴影扩展半径)(阴影颜色) */
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    /* 行高会继承，会继承给3个孩子 */
    line-height: 60px;
}
.goods h3{
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}
.goods ul{
    float: left;
    margin-left: 30px;
}
.goods ul li{
    float: left;
}
.goods ul li a{
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
} 
.goods .mod{
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
.box{
    margin-top: 30px;
}
.box .box-hd,
.content .content-hd{
    /* 必定会有一个高度，若没有高度，底下标准流的东西会往上移 */
    height: 45px;
}
.box .box-hd h3,
.content .content-hd h3{
    float: left;
    font-size: 20px;
    color: #494949;
}
.box .box-hd a,
.content .content-hd > a{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
/* 把li的父亲ul修改的足够宽，一行能装开5个盒子就不会换行了 */
.box .box-bd ul,
.content .content-btn ul{
    width: 1225px;
}
.box .box-bd ul li{    
    /* 子绝父相 */
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
/* li > img 的原因是因为这里的img是li的子元素，而hot图片的img是li的孙子元素，宽度就不会100% */
.box .box-bd ul li > img,
.content .content-btn ul li > img{
    width: 100%;
}
.box .box-bd ul li h4,
.content .content-btn ul li h4{
    display: block;
    width: 150px;
    height: 30px;
    margin :20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    /* 文字不加粗 */
    font-weight: 400;
}
.box .box-bd ul li em{
    /* 绝对定位 */
    position: absolute;
    top: 4px;
    right: -4px;
}
.box .box-bd .info,
.content .content-btn .info{
    margin :20px 20px 20px 25px;
    font-size: 12px;
    color: #999;
}
.box .box-bd .info span,
.content .content-btn .info span{
    color: #ff7c2d;
}
.content{
    margin-top: 15px;
}
.content .content-hd ul{
    margin-left: 350px;
}
.content .content-hd ul li{
    float: left;
    margin-top: 8px;
    margin-left: 70px;
}
.content .content-hd ul li a{
    font: 16px;
    color: #868686;
}
.content .content-hd ul li a:hover{
    color: #00a4ff;
}
.content .content-left{
    float: left;
}
.content .content-top{
    float: right;
}
.content .content-btn ul li{
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-top: 18px;
}
.content .content-btn ul li:first-child{
    margin-left: 15px;
}
/* 页脚部分 */
.footer{
    height: 315px;
    background-color: #fff;
}
.footer .w{
    padding-top: 35px;
}
.copyright {
    float: left;
}
.copyright p{
    font-size: 12px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 15px;
}
.copyright .app{
    display: block;
    width: 118px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
    border: 1px solid #00a4ff;
}
.links{
    float: right;
}
.links dl{
    float: left;
    margin-left: 100px;
}
.links dl dt{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.links dl dd a{
    color: #333;
    font-size: 12px;
}